[2018-04-14 05:55] derrickabreo opened #10 "Login/SignUp"
- [ ] Login
- [ ] SignUp

## Login/SignUp

#### Login feature using either email, Google or Other Social platforms.

[2018-04-14 07:57] shubhamv1436 opened #11 "Application Icon Update"
### Environment
  * Android studio version : 3.0.1
  * Operating system : macOS Sierra
  * Tested on (emulator/device - details) : API 22, CPU x86 5GB (Pixel 2)

## Feature Request
## UI Enchancement Request

#### Description

Updated the icon of the app from the basic android icon to a bulb icon.
![screen shot 2018-04-14 at 12 44 59 pm](https://user-images.githubusercontent.com/19463512/38765864-

[2018-04-14 17:39] drulabs commented on #10
We will announce the requirements soon. Please wait for our announcement on slack.

[2018-04-14 17:39] #10 closed

[2018-04-14 18:31] drulabs opened #17 "Logo creation"
Create a suitable logo for quiz app. Here are the requirements:
- Should be simplistic and unique
- Should define the purpose
- Should be in all sizes (mdpi, hdpi, xhdpi, xxhdpi, xxxhdpi)
- Name it ic_launcher.png
- It will be good if it is adaptive
- Monochrome icons for notifications

Add icons to mipmap folder and create a PR to the **development** branch.

[2018-04-14 19:08] drulabs opened #18 "Login screen UI"
Complete by: 16-April-2018, EOD

- Only Google Login (Only UI)
- No mockup. Only implementation (XML Layout)

**Note**: App's color scheme will be decided based on the best UI implementation.

Sample UI Mockup : https://drive.google.com/open?id=1kCM_axXbQkgSOD7iAhxI0gCaxMQ_OdVl

[2018-04-14 19:11] drulabs commented on #11
@shubhamv1436 Created a separate issue for this. Check out this issue
https://github.com/UdacityAndroidDevScholarship/quiz-app/issues/17

Closing this issue

[2018-04-14 19:11] #11 closed

[2018-04-14 20:25] vansh1sh opened #19 "Get Details Page UI"
Complete by: 19 April 2018 EOD.

- It is a one time screen after a user authenticates.

The fields should include:
- Name
- Photo (Use an image from your google account OR select an avatar from a list)
- Slack Handle
- Select your track spinner.
- Email (Not editable, only Text view)
- Submit/Next Button

A sample UI :

<img src="https://drive.google.com/uc?export=download&id=1Yvr4IGiS_EzYe_uexOZk

[2018-04-15 03:10] AjaySharvesh3 commented on #18
Shall I claim this @drulabs

[2018-04-15 03:26] thayumaanavan commented on #19
Yes @derrickabreo please go ahead.

[2018-04-15 03:37] AjaySharvesh3 commented on #18
Sure @thayumaanavan I'm working on this issue.

[2018-04-15 03:53] abanidas commented on #19
Can I work on this UI ? What is the deadline?

[2018-04-15 03:58] thayumaanavan commented on #19
Yes @abanidas. Currently it doesn’t have deadline. Anyways, I will check with @vansh1sh and update you asap.

[2018-04-15 04:42] Jap-Leen commented on #18
Hi! I would like to work on this issue. Thanks!

[2018-04-15 04:47] thayumaanavan commented on #18
Yes, you can start working @Jap-Leen

[2018-04-15 05:41] intkhabahmed commented on #18
@thayumaanavan why are you assigning one issue to multiple people?

[2018-04-15 05:45] Jap-Leen commented on #18
@intkhabahmed many people can work on the same issue and submit their PR before the deadline. The best PR will be finally merged into the project.

[2018-04-15 05:55] intkhabahmed commented on #18
but as you can see the mockup is same and code to make it will be same obviously, so how the quality will be defined, because its a layout code and not logical code

[2018-04-15 05:56] thayumaanavan commented on #18
@intkhabahmed Adding to @Jap-Leen
We have more contributors(currently around 500 in collab channel) so if we assign one person per issue, others will not get a chance to contribute. We wanted to give chance for everyone.
Each will have different way of thinking and implementing the same functionality. We kept deadlines so that we can have a demo app before end of phase 1.

Bonus point  is it will

[2018-04-15 05:57] thayumaanavan commented on #18
@intkhabahmed mock-up given in the link is for sample purpose. You can come up with different design.

[2018-04-15 05:57] intkhabahmed commented on #18
So I can also work on it then?

[2018-04-15 05:58] thayumaanavan commented on #18
Yes you can @intkhabahmed

[2018-04-15 06:43] YuganshT79 commented on #19
Will try to implement something ✌️

[2018-04-15 10:56] JuhiGupta77 commented on #18
Hello, could I work on Login app

[2018-04-15 10:57] thayumaanavan commented on #18
Yes you can @JuhiGupta77

[2018-04-15 11:03] JuhiGupta77 commented on #18
How to submit the project?

[2018-04-15 11:09] thayumaanavan commented on #18
@JuhiGupta77 once you are done with the layout, you can create PR to our Dev branch.
We will select the best one after deadline. For more info, you can check out the [contribution guidelines](https://github.com/UdacityAndroidDevScholarship/quiz-app/blob/master/CONTRIBUTING.md) and you can also post your queries in quiz slack channel.

[2018-04-15 11:15] sidhuparas commented on #18
Let me give it a try. One question: who will decide the best one? Will there be voting or will mods/co-mods select the one?

[2018-04-15 11:29] vansh1sh commented on #19
@abanidas It needs to be completed by 17-April 2018 EOD.

[2018-04-15 11:31] drulabs commented on #19
Also, ensure you follow our [contribution](https://github.com/UdacityAndroidDevScholarship/quiz-app/wiki/Contribution-Guidelines) and [coding style](https://github.com/UdacityAndroidDevScholarship/quiz-app/wiki/Code-Style-Guidelines) guidelines.

[2018-04-15 11:35] nihanth876 commented on #18
can i work on this issue

[2018-04-15 11:36] CoderVishalSehgal commented on #18
@nihanth876 Yes go ahead.

[2018-04-15 11:37] sagarsrao commented on #18
yes

[2018-04-15 11:48] derrickabreo commented on #19
Should we create a new Activity for this or use an existing one?

[2018-04-15 11:55] CoderVishalSehgal commented on #19
@derrickabreo you just have to create a **layout** file(_Xml_).

[2018-04-15 12:03] abanidas commented on #19
@drulabs sure,  I will follow the guidelines.

[2018-04-15 12:07] abanidas commented on #19
@CoderVishalSehgal I have created a new Activity. So we will have to make pull request with only the layout file?

[2018-04-15 12:10] CoderVishalSehgal commented on #19
@abanidas don't worry, for now just PR only layout file :)

[2018-04-15 15:47] kaushiknsanji commented on #18
Can I also try on this?

[2018-04-15 15:48] thayumaanavan commented on #18
yes @kaushiknsanji

[2018-04-15 16:04] Devesh1396 commented on #18
I will work on this!

[2018-04-15 16:41] derrickabreo commented on #18
I'll try to do one as well.

[2018-04-15 16:44] CoderVishalSehgal commented on #18
@derrickabreo sure, but take care of the contribution and coding guidelines. :)

[2018-04-15 22:17] ritesh-singh commented on #18
How the mods and co-mods are gonna decide the best layout.
Is it on the basis of

1. How it is designed in terms of UI, or
2. How the performance of the layout is, by using **Hierarchy Viewer** or
3. The layout is designed in a way, such that it supports different screens, or
4. If hardcode strings and all are used or not,
or you guys will be considering all above.

And, if considering all above c

[2018-04-15 22:30] aditisoni8899 commented on #18
@ritesh-singh Thank you for the suggestion. I totally agree with your thought. But we have a workaround for solving this problem. Our team has prepared a PR template in which the contributor needs to submit a screenshot of his/her work before and after solving the issue. This thing will reduce our overhead and help us to manage the PR's. As in above comments @thayumaanavan has mentioned we are mor

[2018-04-15 22:42] ritesh-singh commented on #18
@aditisoni8899 Great. Now, I am thinking of doing the same in blood donation app. 😆

[2018-04-15 22:46] vansh1sh commented on #18
@ritesh-singh Additionally, If there is some hardcoded strings/in-efficient code used, we will ask the contributor to make the required changes/corrections and commit the improved code. Github provides a very good functionality for the same.

[2018-04-15 22:47] aditisoni8899 commented on #18
@ritesh-singh Great! It is all about learning from each other :) Go ahead. And do Let us know if you have something great which we can implement in our project.

[2018-04-16 15:39] nishank95 commented on #18
Can anybody tell me whats the deadline to submit the Login screen UI

[2018-04-17 06:56] sidhuparas commented on #19
I think I can give it a try. By the way, since the deadline is today, I think a "High Priority" label should be added to it.

[2018-04-17 07:10] derrickabreo commented on #19
What is select your track?

[2018-04-17 15:16] nishank95 commented on #19
I have finished designing layout page what should i add for PR whole project or just the detail_layout.xml file

[2018-04-17 15:30] thayumaanavan commented on #19
@nishank95  when you create PR from your forked repo, it will showing only changed file.

[2018-04-17 17:19] DhruvamSharma opened #32 "Wrong spellings in Issue Template."
**Please remove whichever section is not relevant.** (e.g. If you are creating a feature request issue, remove all bug and UI enhancement related details below)

**Is it a? (pick one)**

- [] Bug

- [x] Feature Request

- [ ] UI Enhancement Request

## Feature Request

The spellings are wrong.

#### Feature Description

The spelling of enhancement is wrong.

[2018-04-18 01:05] sud8443 commented on #19
@thayumaanavan can still I work on this?

[2018-04-18 01:31] thayumaanavan commented on #19
@sud8443 yes.. go ahead. We have extended the deadline.

[2018-04-18 12:55] drulabs opened #36 "Architecture Page in Wiki"
Add an architecture page in Wiki. This should contain the following:
- Description of the architecture used in the app (MVP)
- How is it implemented in the app
- How this architecture supports separation of concerns and testability
- Data flow in the app
- Brief description of backend used (firebase)

[2018-04-18 12:56] drulabs commented on #36
Architecture page created. [Click here to view](https://github.com/UdacityAndroidDevScholarship/quiz-app/wiki/App-architecture)

[2018-04-18 12:56] #36 closed

[2018-04-18 14:07] YuganshT79 commented on #19
What is the Deadline for this issue?

[2018-04-18 20:42] vansh1sh commented on #18
We'll be closing this issue since the deadline has passed. PRs will be reviewed shortly.

[2018-04-18 20:42] #18 closed

[2018-04-18 20:44] vansh1sh commented on #19
Deadline extended: 19 April 2018 EOD.

[2018-04-18 23:54] AjaySharvesh3 commented on #32
@DhruvamSharma Shall I work on this issue?

[2018-04-18 23:55] AjaySharvesh3 commented on #19
Shall I work on this issues? @vansh1sh

[2018-04-18 23:57] AjaySharvesh3 commented on #19
ONly the UI Changes or Business Logic too ??

[2018-04-18 23:58] aditisoni8899 commented on #19
@AjaySharvesh3 Yes go ahead :+1: only UI is required.

[2018-04-19 08:42] #32 closed

[2018-04-19 09:07] vansh1sh commented on #32
Resolved.

[2018-04-19 10:43] nihanth876 commented on #17
Guys I created a quiz logo and am uploading it here tell me if I can work on this
![launcher](https://user-images.githubusercontent.com/34400175/38987210-99464da4-43ec-11e8-9d8b-3a80fbed4d34.PNG)

[2018-04-19 10:55] sagarsrao commented on #17
Hey Nihanth.We appreciate your work.But this is not the one which we are looking.Kindly follow a material design for the app logo.
1.Your app logo is not having proper color assets.
2.It's not very much creative.Kindly think out of the box.come up with good quiz logo's

[2018-04-19 16:57] animeshroydev commented on #19
@vansh1sh and other mods Will you guys please expand the EOD just for 1 days(20th April).

[2018-04-19 19:58] animeshroydev commented on #19
I requested to extend the deadline by 20th April but mistakenly I deleted that comment earlier.  I somehow completed it. So please accept the pull request.

[2018-04-19 20:00] aditisoni8899 commented on #19
@animeshroydev sure.

[2018-04-19 20:13] pjoshi08 opened #43 "**Home Screen UI (Quiz List)**"
This the main screen UI where all the list of quizzes will be displayed.

**Requirements**:
* ActionBar/ToolBar menu: For logout. **showAsAction="never"**.
* Toolbar should contain app logo for setting up Navigation Drawer in upcoming Issues.
* Attempt Toggle: To switch between unattempted or all quizzes.
* A visual to show total number of quizzes
* RecyclerView: To display quiz details
* Quiz Lis

[2018-04-19 20:17] erzohrakhan commented on #43
Can I take this issue?

[2018-04-19 21:09] aditisoni8899 opened #44 "Navigation Drawer UI"
Complete By: 24 April 2018 EOD

This is the Navigation Drawer UI for complete app navigation.

Requirements:

* It should have a cover image with profile picture, name and slack handle.
* Pencil icon at the top right of the cover image to open edit profile screen in the upcoming issue.
* QuizList line item: New quiz arrival indicator should be on this item. Also, this item should show total no. of

[2018-04-20 02:52] ibhavikmakwana commented on #43
I would like to work on this.

[2018-04-20 07:45] pjoshi08 commented on #43
@ibhavikmakwana @intkhabahmed Please go ahead.

[2018-04-20 07:49] pjoshi08 commented on #44
@intkhabahmed Please go ahead.

[2018-04-20 08:57] ibhavikmakwana commented on #44
I would like to work on this.

[2018-04-20 09:04] aditisoni8899 commented on #44
@ibhavikmakwana Sure!
 Looking forward to it.

[2018-04-20 15:55] AjaySharvesh3 commented on #43
What's the deadline for this issue?

[2018-04-21 03:25] pjoshi08 commented on #43
@AjaySharvesh3 Mentioned in the first line itself.
Complete By: **22 April, 2018 EOD**

[2018-04-21 03:26] AjaySharvesh3 commented on #43
I'm sorry @pjoshi08 I haven't noticed that. Just saw only the issue :

[2018-04-21 03:49] drulabs opened #47 "Create Notification Table"
**Finish by 25-April-2018 EOD**

Create a table for notifications. Use `data/local/DBHelper.java`. It needs to be exactly in line with what we learned in our course
- A contract for notification table. Please ensure you follow instructions from SQLite lesson.
- A create table statement, make sure you use the contract, create a separate `private static final string` variable in the class and store

[2018-04-21 03:49] drulabs opened #48 "Create Questions table"
We are also providing create quiz functionality, for this, we need to **store information locally** till the quiz creator enters all the information and submits the quiz.

For example: for an SQLite Quiz, title, the lesson can be stored in shared preferences. But for other stuff like questions (30 Max) and options for each question (2-6 options) we need to store in local SQLite database and delete

[2018-04-21 04:24] AjaySharvesh3 commented on #44
Shall I work on this???? @aditisoni8899

[2018-04-21 04:37] drulabs commented on #48
@pramodbharti, please go ahead. Please note that we need the schema before implementation.

[2018-04-21 05:54] PratyushaThumiki commented on #44
I would like to work on this issue! Can I?

[2018-04-21 06:08] thayumaanavan commented on #44
@AjaySharvesh3 @PratyushaThumiki  please go ahead.

[2018-04-21 06:08] drulabs commented on #44
@AjaySharvesh3 @PratyushaThumiki please go ahead.

[2018-04-21 06:16] GauravR31 commented on #47
Can I take this up?

[2018-04-21 08:33] vivekpanchal commented on #48
would  work on this

[2018-04-21 08:34] drulabs commented on #48
@vivekpanchal sure. Please work on the schema as described in the issue before writing java code.

[2018-04-21 09:02] nishank95 commented on #47
I would like to work on this?

[2018-04-21 09:04] drulabs commented on #47
@nishank95 sure. Please ensure you follow the SQLite lesson instructions.

[2018-04-21 09:16] derrickabreo commented on #47
I would like to try to implement as well.

[2018-04-21 09:36] vivekpanchal commented on #47
would like to work in this too

[2018-04-21 09:39] vansh1sh commented on #47
Sure @vivekpanchal

[2018-04-21 09:42] derrickabreo commented on #47
I did not understand point 2.

[2018-04-21 13:02] abanidas commented on #43
Can I work on this issue?

[2018-04-21 17:59] pushpalroy commented on #17
I would like to work on this.

[2018-04-21 18:12] huzefaraja commented on #48
I would like to work on this.

Forgive me if this is a stupid question, but the "schema using markdown syntax in comments", is that supposed to be here in the comments?

[2018-04-21 18:25] visnu-bochiwal commented on #47
I want to do this. So Can I?

[2018-04-21 18:26] drulabs commented on #47
@huzefaraja `I'm in` is sufficient. Sure, you are in.

[2018-04-21 18:26] drulabs commented on #47
@visnu-bochiwal please go ahead.

[2018-04-21 18:29] drulabs commented on #48
@huzefaraja meaning. Please discuss your approach, the tables or tables you are going to use, any connection etc. here in issue comments.

[2018-04-22 00:56] drulabs commented on #48
@huzefaraja the schema looks great, please start working on it. You need to create Contracts for these, tables and a `private static final String CREATE_<table_name>_TABLE` variable in `DBHelper.java`. Execute these in the onCreate() method. Leave onUpgrade() blank for now. Please make sure you follow the SQLite lesson of the course.

Please make `Options.Remark` column nullable rest of the column

[2018-04-22 01:37] pramodbharti commented on #48
@drulabs . Here is my schema. Please review this.
                                         TABLE NAME : TBL_QUIZ_DETAILS
Fields | Data Type | Constraints | Remarks
----------------- | ----------------- | ---------------- | -----------------
QUIZ_ID | INTEGER | PRIMARY KEY + AUTO_INCREMENT |
CREATOR_ID | INTEGER | NOT NULL |
CREATOR_NAME | TEXT | NOT NULL |
QUIZ_TITLE | TEXT | NOT NULL |
LESSON | T

[2018-04-22 04:12] thayumaanavan commented on #43
@abanidas Yes, you can start working.

[2018-04-22 05:37] thayumaanavan commented on #17
@pushpalroy yes, Go ahead

[2018-04-22 06:36] pramodbharti commented on #48
Hi @drulabs  currently I am creating PR with two tables i.e. `TBL_QUESTIONS` and `TBL_OPTIONS` as described by you but I think we need another table `QUIZ_DETAILS`. We can discuss later.

[2018-04-22 11:56] nishank95 commented on #43
Can i work on it ? I can complete by EOD

[2018-04-22 11:58] thayumaanavan commented on #43
@nishank95 yes,go ahead.

[2018-04-22 18:27] shubhamv1436 commented on #44
I would like to work on it.

[2018-04-23 03:13] thayumaanavan commented on #44
@shubhamv1436 yes, go ahead

[2018-04-23 04:26] thayumaanavan commented on #47
@SrikarNanduri yes, please go ahead.

[2018-04-23 05:04] drulabs commented on #48
@pramodbharti we don't need a quiz details table as mentioned in the Issue `Create an SQLite table schema for storing questions and options and relate them`. Before implementation, you should have discussed the schema in comments as mentioned in comments of this issue. Here are some feedbacks:
- Instead of short abbreviations please use full names. e.g. QUESTION_TYPE instead of QUE_TYPE, TABLE_QUI

[2018-04-23 06:44] pramodbharti commented on #48
@drulabs  I have made changes in schema. I think we need third table (`files`) for storing images. Please have a look.

[2018-04-24 17:08] anshumandubey commented on #17
![quizapplogo](https://user-images.githubusercontent.com/10119668/39202663-2dabf0b2-4810-11e8-9d9f-735d24d20d4f.png)

How is this??

[2018-04-24 17:10] anshumandubey commented on #17
![quizapplogo](https://user-images.githubusercontent.com/10119668/39202732-6c1ba82e-4810-11e8-81e7-4e8ad89110ba.png)
How is this??

[2018-04-24 18:47] akshaychopra96 commented on #47
I am also interested in this. And this will be my first contribution. So excited.
I hope I can also do this?

[2018-04-24 21:08] akshaychopra96 commented on #47
I have made the changes. But due to the lack of my knowledge on how to use GitHub, I have spent 2 hours still not be able to create a pull request. Please help me what to do.    :(

[2018-04-24 22:16] vansh1sh commented on #17
@anshumandubey Nice job! It looks good, but please create a PR for us to review. Make sure to follow the given issue description.

 Just a suggestion: Try changing the color to a darker one so that it matches the app mockups theme.

[2018-04-25 11:26] vansh1sh commented on #17
@swatisingh0960
Nice job, I appreciate your efforts but I think that the logo could be improved a lot. Use a better color combination. Also, try making a logo which defines the purpose of the app.

After making the changes, you can create a PR following the guidelines.

[2018-04-25 16:30] vansh1sh opened #66 "My Profile UI"
**Complete By: 30th April 2018, EOD.**

This is the profile page where users can edit their profile details anytime.

Changes required in : **activity_user_profile.xml**

Requirements:

- Name (Editable)
- Slack Handle (Editable)
- Photo/Avatar (Changeable)
    A) Users can either select an avatar from a list of 10-20 avatars
    B) OR Use the image fetched after the Gmail login.
    Note: Feature

[2018-04-25 20:02] YuganshT79 commented on #66
Will work on this issue

[2018-04-26 03:10] pushpalroy commented on #66
Will work on this issue.

[2018-04-26 07:05] ibhavikmakwana commented on #66
I would like to work on this.

[2018-04-26 07:12] sagarsrao commented on #66
Please go head.Kindly follow all the guidelines.

[2018-04-26 10:52] GauravR31 commented on #66
Can I work on this?

[2018-04-26 10:57] sidhuparas commented on #66
I have a doubt. Is this UI challenge the same as the **Details Page UI** with a couple of changes? #19. I had made a pull request about a week ago: https://github.com/UdacityAndroidDevScholarship/quiz-app/pull/31. Should I modify it to make some new changes as instructed above or make a new pull request?

[2018-04-27 02:51] drulabs commented on #47
Closing the issue. Merged [PR 50](https://github.com/UdacityAndroidDevScholarship/quiz-app/pull/50) for this.

[2018-04-27 02:51] #47 closed

[2018-04-27 09:24] knightcube opened #72 "Using boolean instead of Boolean"
**Please remove whichever section is not relevant.** (e.g. If you are creating a feature request issue, remove all bug and UI enhancement related details below)

**Is it a? (pick one)**

- [ ] Bug

- [ ] Feature Request

- [x] Code Beautification

The basic difference in boolean and Boolean is that

- Boolean can be yes, no or NULL . It is an object wrapper for boolean
- boolean can be only yes or

[2018-04-27 10:25] drulabs commented on #72
@knightcube thanks. Let's discuss on the PR.

[2018-04-27 10:34] knightcube commented on #72
Sure

[2018-04-27 10:43] drulabs commented on #72
@knightcube I am renaming the issue. Please see the comments in the PR for details.

[2018-04-27 11:55] aditisoni8899 commented on #66
@sidhuparas In this screen, profile picture and a cover image should be editable along with slack handle and name. For now, the track should be non-editable and its default value should be "Android Developers Track". UI for this screen should be accordingly as this is not a one time screen and editing profile feature will be provided by this screen only.

[2018-04-27 12:26] thayumaanavan opened #75 "Notification Screen UI"
**Complete By: 3rd May 2018, EOD**

This notification page will be opened from Navigation drawer where all the app notification will be shown.

**Features**:
- Notification types(as tabs): New Quiz, Deadlines, Resources
- For each tab:
    - use Recycler view to list the notification messages according to it’s type.
    - List item should have image,Notification title,description,date
    - Unread

[2018-04-27 21:04] vansh1sh commented on #19
Closing this issue as it has been completed.

[2018-04-27 21:04] #19 closed

[2018-04-27 21:07] vansh1sh commented on #72
Resolved.

[2018-04-27 21:07] #72 closed

[2018-04-28 02:31] drulabs opened #77 "Google login"
Implement google login with firebase on the Sign In screen.

[2018-04-28 02:33] drulabs opened #78 "Firebase Schema Wiki"
Add a firebase schema page on repo Wiki. Explain the schema.

[2018-04-28 02:47] sayaMahi commented on #66
Will work on this.

[2018-04-28 12:59] CoderVishalSehgal opened #79 "UI/UX Enhancement: Add filtering drop-down on Home screen."
**Complete By : 30th April 2018, EOD.**

*Requirements:*
- Remove the current toggle button(unattempted)
- Add these *Filtering* options :
   A) All
   B) Attempted
   C) Un-attempted
   D) Bookmarks.
- The menu *slides down* from the toolbar and after selecting an option it *slides up* again.

**Sample UI**
https://github.com/UdacityAndroidDevScholarship/quiz-app/wiki/App-Mockups#home-screen-list

[2018-04-28 18:57] sagarsrao opened #82 "Notification for Quiz-App"
**Finish By Tuesday, 02-May-2018, EOD**

Quiz App will support different types of notifications. For example `A new quiz is available notification`, `A new resource has been added notification`, `SQLite quiz deadline is approaching notification` etc. We will be using `Firebase Cloud Messaging (FCM)` to support this.

**You DON'T need to know FCM to work on this issue.**

1. **Raise a system notifi

[2018-04-29 04:16] drulabs opened #83 "Store Notifications"
**Finish by Tuesday, 02-May-2018**

1. Create methods in DBHandler to add a notification, to retrieve all notifications and search by text. Search in title and description. Use the `db` object in `DBHandler`.
Method signatures:
- `addNotification(Notification notification)`
- `List<Notification> getAllNotifications(int startFrom, int limit)`
- `List<Notification> searchNotifications(String query,

[2018-04-29 05:26] visnu-bochiwal commented on #79
I want to work on this but I'm not able to figure it out that should I need to code Home fragment myself and then pass the parameter from ActivityMain.java to this fragment based on the chosen filter or make four separate fragments?

[2018-04-29 05:52] AjaySharvesh3 commented on #77
Shall I work on this?

[2018-04-29 05:56] drulabs commented on #77
@AjaySharvesh3 No. This is already implemented. Will be merged in `development` branch soon.

[2018-04-29 07:53] CoderVishalSehgal commented on #79
@visnu-bochiwal you just have to prepare the UI for this and don't need to handle other things.

[2018-04-29 08:16] intkhabahmed commented on #82
Hey, I will work on it

[2018-04-29 12:03] gupta-vibhuti commented on #82
Hey, I'm interested in working on this.

[2018-04-29 12:56] vibhuti16 commented on #75
I will work on this

[2018-04-29 13:16] drulabs commented on #82
@intkhabahmed @gupta-vibhuti please wait for some time before starting. pushing some changes.

[2018-04-29 13:25] intkhabahmed commented on #82
ok

[2018-04-29 13:29] animeshroydev commented on #77
Hi, @drulabs Google login is not working on the development branch...

[2018-04-29 13:33] AjaySharvesh3 commented on #77
@animeshroydev said It's not working that's why I tried to make implement on this.

[2018-04-29 13:36] animeshroydev commented on #77
@AjaySharvesh3 I would love to implement this but @drulabs said already implemented. Really confused...

[2018-04-29 13:38] AjaySharvesh3 commented on #77
@animeshroydev Cool.

[2018-04-29 13:47] abanidas commented on #79
@CoderVishalSehgal  @aditisoni8899 I want to work on this.
Can I customize the design a little bit? Or it should be similar to the Sample UI?

[2018-04-29 14:16] drulabs commented on #77
@animeshroydev as mentioned in previous comment `This is already implemented. Will be merged in development branch soon`. The implementation is in a separate branch. Right now we are merging this into `development` branch. After the merge you can take a pull from `development`.

Also, @animeshroydev and @AjaySharvesh3 please look for issues with `official` label, not `internal`. This issue is tagg

[2018-04-29 14:30] animeshroydev commented on #77
@drulabs Thanks for clarifying...

[2018-04-29 15:41] drulabs commented on #77
@animeshroydev @AjaySharvesh3 it is merged now. Please check the `development` branch now. Closing the issue.

[2018-04-29 15:41] #77 closed

[2018-04-29 15:44] drulabs commented on #82
@intkhabahmed @gupta-vibhuti you are good to go. You can work on this now. Don't forget to take a pull from `development` branch. Merging is done.

[2018-04-29 17:16] nishank95 commented on #75
Can i work on this issue

[2018-04-30 19:39] rahul7838 commented on #83
Created the pull request for the 1st point. Please have a look.

[2018-05-01 13:59] ashishkumar160 commented on #17
![final](https://user-images.githubusercontent.com/16983116/39475453-e3d09072-4d75-11e8-917e-cfde042d776f.png)

Hey how about this logo for the app?

[2018-05-01 16:51] vansh1sh commented on #17
@ashishkumar160 Hey, it looks good, but I would suggest you to try some darker colors. I guess it's trying to potray a Q shape, right? Maybe few more changes can make it look even more better.

[2018-05-01 16:59] ashishkumar160 commented on #17
@vansh1sh The UI's primary color is dark grey so I thought light colors will be more visible. Do you want me to change to darker colors?

[2018-05-01 17:03] vansh1sh commented on #17
@ashishkumar160 You can try. From my perspective I think it'll look better with darker colors.

[2018-05-02 11:17] animeshroydev commented on #17
@drulabs @vansh1sh Here are few icons of **quiz app** that I designed. Do give your feedback on it...
[quiz-App-Icon.pdf](https://github.com/UdacityAndroidDevScholarship/quiz-app/files/1966983/quiz-App-Icon.pdf)

[2018-05-02 11:29] animeshroydev commented on #17
@vansh1sh Can you please give me the colour code of the app theme. So that the ICON matches with App.

[2018-05-02 11:33] vansh1sh commented on #17
You can find them here :
https://github.com/UdacityAndroidDevScholarship/quiz-app/wiki/App-Mockups

It's not mandatory to use these colors only, but the color shouldn't be too abstract from the ones used in the app.

[2018-05-02 11:40] ashishkumar160 commented on #17
![color](https://user-images.githubusercontent.com/16983116/39521327-b1f6010c-4e2b-11e8-8de7-73ae6b5d5a34.png)

Hey is this color fine?

![dahejf](https://user-images.githubusercontent.com/16983116/39521328-b32c91bc-4e2b-11e8-8bda-5401df68c002.jpg)

I created one more kinda same logo.

[2018-05-02 11:42] animeshroydev commented on #17
@vansh1sh Should I make the pull request with the first icon?

[2018-05-03 09:17] xsahil03x commented on #66
Can i work on this ?

[2018-05-03 11:07] vansh1sh commented on #66
@xsahil03x The deadline for this issue has already been passed. We have a lot of other issues to which you can contribute. Please check out the issue tab on our Github repo. :)

[2018-05-03 11:07] vansh1sh commented on #66
@shubhamv1436 The deadline has already passed but since you might have already started with it please create a PR before EOD.

[2018-05-03 17:57] vansh1sh commented on #66
@shubhamv1436 Just a reminder, I'll be closing this issue soon. Please create a PR if you want to contribute to this issue.

[2018-05-03 18:03] shubhamv1436 commented on #66
@vansh1sh I have almost done it but I am facing an error and I am working on it...if possible you can close it tomorrow just give me today's night...I will submit a PR till tomorrow morning

[2018-05-03 18:11] vansh1sh commented on #66
@shubhamv1436 Okay, no issue will be closing it tomorrow morning then. Please update us with it. Do reach out to us if you're stuck up on something for long. All the best :)

[2018-05-03 18:18] shubhamv1436 commented on #66
Thanks @vansh1sh ...It means a lot to me

[2018-05-04 04:25] drulabs commented on #82
Issue resolved. Merged @intkhabahmed's [PR](https://github.com/UdacityAndroidDevScholarship/quiz-app/pull/92) for this.

[2018-05-04 04:25] #82 closed

[2018-05-04 04:27] drulabs commented on #83
The issue is resolved. Merged @rahul7838's [PR](https://github.com/UdacityAndroidDevScholarship/quiz-app/pull/93) for resolving this issue. Closing the issue.

[2018-05-04 04:27] #83 closed

[2018-05-04 08:26] vibhuti16 commented on #17
![ic_launcher](https://user-images.githubusercontent.com/4936653/39618791-f5f0980e-4fa2-11e8-81d7-852dca0ff892.png)

[2018-05-04 10:14] vibhuti16 commented on #17
![web_hi_res_512](https://user-images.githubusercontent.com/4936653/39623069-123115ca-4fb2-11e8-8d59-5becc7ec1148.png)

[2018-05-04 12:03] vibhuti16 commented on #17
![web_hi_res_512](https://user-images.githubusercontent.com/4936653/39626842-42a93764-4fc1-11e8-8004-b424ac013636.png)
![web_hi_res_512](https://user-images.githubusercontent.com/4936653/39626847-49f74ad8-4fc1-11e8-9601-75c046cd983b.png)

[2018-05-04 12:04] vibhuti16 commented on #17
![web_hi_res_512](https://user-images.githubusercontent.com/4936653/39626892-71284364-4fc1-11e8-9aab-c633e67ba591.png)

[2018-05-04 12:05] vibhuti16 commented on #17
![untitled](https://user-images.githubusercontent.com/4936653/39626904-7f61eeda-4fc1-11e8-8725-1fc0b8c02510.png)

[2018-05-04 12:09] vibhuti16 commented on #17
![untitled](https://user-images.githubusercontent.com/4936653/39627054-06c6a6d6-4fc2-11e8-8109-da6901f2cc86.png)

[2018-05-04 13:35] nihanth876 commented on #17
I tried an idea tell me if you like it i will create a pull request or if you like the idea you guys too can recreate it.
The green,red,yellow give the 3 types of difficulty we are using in our app.
Since our quizzes are mainly on android so the middle icon is the android icon
And the "Q" shape indicates questions.
![quizapplogo](https://user-images.githubusercontent.com/34400175/39630773-ff7622ec

[2018-05-04 14:14] vansh1sh commented on #17
@ashishkumar160 The dark blue shade looks good to me. You can update your PR if you want, further we'll decide the logo depending on team votes.

[2018-05-04 14:19] vansh1sh commented on #17
@animeshroydev @vibhuti16 @nihanth876 Guys, go ahead and create a PR.

Nihanth for some reason the logo looks pixelated, please make sure to fix that.

[2018-05-04 14:27] vibhuti16 commented on #17
![ic_launcher](https://user-images.githubusercontent.com/4936653/39633359-5e06bed2-4fd5-11e8-8ff2-bc6ad4729269.png)

[2018-05-04 14:31] vansh1sh commented on #66
Resolved

[2018-05-04 14:31] #66 closed

[2018-05-04 14:35] vansh1sh commented on #79
Resolved.

[2018-05-04 14:35] #79 closed

[2018-05-04 16:31] nihanth876 commented on #17
Yeah thanks for pointing that out @vanish1sh will make sure the changes are made

[2018-05-04 16:49] DhruvamSharma opened #100 "Added Proguard rules. Added shrinkResources attribute."
**Please remove whichever section is not relevant.** (e.g. If you are creating a feature request issue, remove all bug and UI enhancement related details below)

**Is it a? (pick one)**

- [x] Feature Request

## Feature Request

#### Feature Description

There are no proguard rules in the prguard-rules.pro file. So added them. Also added the attribute: shrinkResources true in the release buildTyp

[2018-05-05 04:58] visnu-bochiwal commented on #44
I'm going to work upon this.

[2018-05-05 05:05] AjaySharvesh3 commented on #44
@visnu-bochiwal Already PR is accepted for this. Mods are reviewing the PR so please claim some other issue.

[2018-05-05 05:29] visnu-bochiwal commented on #44
ok than How do I know which issue is currently open?

[2018-05-05 06:35] jainakshansh commented on #75
Hello @thayumaanavan, is this issue still active?

[2018-05-05 06:37] thayumaanavan commented on #75
@jainakshansh this is in review phase. We will be opening new issues by today. You can work on that.

[2018-05-05 06:38] thayumaanavan commented on #44
@visnu-bochiwal we are yet to open new issues. I think only logo creation is open.
You can find the open issue by seeing the deadline mentioned in the issue description.

[2018-05-05 07:12] nishank95 commented on #17
Quiz app logo welcome for suggestions
![quiz app logo](https://user-images.githubusercontent.com/25129671/39660670-b80f4e6c-5061-11e8-81b3-abec8712fcb5.png)

[2018-05-05 10:33] CoderVishalSehgal opened #103 "Quiz Discussion Screen"
**Complete By: 7th May 2018 EOD**

This is the Discussion Screen UI for contacting quiz creators and community members and asking them for any help and open discussion regarding Quiz.

1. follow the design, see *home* package for the sample.
2. Create Contract which must contain Presenter and View interfaces. Make the Activity implement this **View** interface.
3. create a package  **...ui/discuss

[2018-05-05 11:55] vibhuti16 commented on #103
can i claim this?

[2018-05-05 11:57] vibhuti16 commented on #103
ill start working on this

[2018-05-05 11:57] CoderVishalSehgal commented on #103
@vibhuti16 yes, go ahead 👍

[2018-05-05 15:02] intkhabahmed commented on #103
@CoderVishalSehgal I would ike to work on it

[2018-05-05 15:12] CoderVishalSehgal commented on #103
Yes go ahead @intkhabahmed  :+1:

[2018-05-06 03:15] CoderVishalSehgal opened #104 "Quiz Details Screen UI"
**Complete By: 8th May 2018 EOD**

This is the Quiz Details Screen UI which gives more information about the specific quiz.

* Textual content inside the card must be in a **ScrollView**.
* Help Button Icon is present in the drawable folder named as **ic_help**.

For requirements please refer to the sample *UI* Link:
https://github.com/UdacityAndroidDevScholarship/quiz-app/wiki/App-Mockups#quiz-de

[2018-05-06 04:12] xsahil03x commented on #104
I would like to work on this.

[2018-05-06 04:13] thayumaanavan commented on #104
@xsahil03x yes, please go ahead.

[2018-05-06 04:46] thayumaanavan commented on #75
Issue resolved. Merged @nishank95's PR for this.

[2018-05-06 04:46] #75 closed

[2018-05-06 04:49] thayumaanavan commented on #44
Issue resolved. Merged @AjaySharvesh3 's PR #98  for this.

[2018-05-06 04:49] #44 closed

[2018-05-06 06:20] CoderVishalSehgal opened #105 "Settings Activity"
**Complete By: 8th May 2018 EOD**

This is the settings activity of the QuizApp and it contains some basic settings.

**Requirements:**
* It must contain three items, check out the sample UI.
* Create a **SettingsActivity.java**.
* Create a *settings_app.xml* inside the *res/xml* folder and add the **PreferenceScreen** inside that activity and the respective items as shown in mockups.
* Create a c

[2018-05-06 06:56] YuganshT79 commented on #105
I would like to work on this, Do we have to also create the `SettingsActivity.java` or just the XML file and `CustomDialog` ?

[2018-05-06 07:02] CoderVishalSehgal commented on #105
Yes, go ahead and also have to make **SettingsActivity.java** 👍

[2018-05-06 08:01] intkhabahmed commented on #103
@CoderVishalSehgal the chat will be between only two persons or there can be multiple persons

[2018-05-06 08:13] CoderVishalSehgal commented on #103
@intkhabahmed It will be b/w, multiple persons.

[2018-05-06 08:16] intkhabahmed commented on #103
@CoderVishalSehgal one more thing, I saw the latest code and there are many things missing, like there are string resources that are missing, NotificationContract class was having default access modifier instead of public. who left all these things?

[2018-05-06 09:33] intkhabahmed commented on #103
@drulabs Still the string resource in the quiz adapter is missing

[2018-05-06 09:58] drulabs commented on #103
@intkhabahmed which resource. I can run the app. Please mention the resource name

[2018-05-06 09:59] intkhabahmed commented on #103
@drulabs now its OK, maybe it was build problem

[2018-05-06 12:40] vibhuti16 commented on #103
do we offline storage here?

[2018-05-06 14:25] drulabs commented on #103
@vibhuti16 no. It is all online only. However since we are using firebase we, the offline part is already taken care of.

[2018-05-06 14:38] sud8443 commented on #105
@CoderVishalSehgal can I work on this ?

[2018-05-06 14:56] drulabs commented on #105
@sud8443 please go ahead.

[2018-05-06 17:17] vibhuti16 commented on #103
https://github.com/UdacityAndroidDevScholarship/quiz-app/pull/108

[2018-05-06 18:29] aditisoni8899 commented on #103
@jainakshansh sure. Go ahead.

[2018-05-06 18:31] aditisoni8899 commented on #105
@jainakshansh sure. Go Ahead.

[2018-05-06 18:47] nishank95 commented on #103
Hey @vibhuti16  insert the issue number in your PR at the first line like this "Fixes #108" instead of keeping it Fixes #[Insert_issue_number_here] so your PR will get reference to this issue.

[2018-05-07 01:51] derrickabreo commented on #104
I would like to work on this too. Should I create an XML layout resource file or an activity?

[2018-05-07 02:27] drulabs commented on #104
@derrickabreo yes. Please go ahead.

[2018-05-07 06:36] sayaMahi commented on #105
I shall work on this.

[2018-05-07 06:39] thayumaanavan commented on #105
@sayaMahi Yes.. Please go ahead.

[2018-05-07 10:58] imashwani commented on #105
hey i am working on this and make a pull request in few hours

[2018-05-07 13:34] rdias002 commented on #105
i am going to start my first ever group project contribution. i'm planning to start here, shall i?

[2018-05-07 13:40] nishank95 commented on #104
Can I work on this I can submit till EOD

[2018-05-07 13:43] drulabs commented on #105
The issues deadline is extended til tomorrow EOD.

[2018-05-07 13:46] drulabs commented on #104
Issue deadline is extended till tomorrow EOD. @nishank95 sure, go ahead.

[2018-05-07 14:39] bhatnagar-gaurav commented on #105
I will also like to work on this specific issue.

[2018-05-07 19:50] tavishjain opened #115 "UI looking bad when opening nav drawer"
**Please remove whichever section is not relevant.** (e.g. If you are creating a feature request issue, remove all bug and UI enhancement related details below)

**Is it a? (pick one)**

- [ ] UI Enhancement Request

## Bug Report

### Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - Ensure you have tested with the

[2018-05-08 06:07] Suparna-here commented on #105
I will start working on this issue.

[2018-05-08 06:17] drulabs commented on #105
@Suparna-here sure go ahead. Please ensure you familiarise yourself the [contribution guidelines](https://github.com/UdacityAndroidDevScholarship/quiz-app/wiki/Contribution-Guidelines) before you start working.
Also today EOD is the last date, please create a PR by today EOD.

[2018-05-08 06:28] Suparna-here commented on #105
I have read the contribution guideline and just created fork from development branch(chosen it from drop down list) in gihub. In my account, it is showing
Forked from UdacityAndroidDevScholarship/quiz-app
When I clicked the above link it just redirect me to master branch of quiz-app. Is the fork created correctly  , can you please confirm? As this is my first contribution to collaborative project.

[2018-05-08 06:56] mdrahil commented on #103
I want to work on this. Can I implement it?

[2018-05-08 06:57] drulabs commented on #103
@mdrahil, @jainakshansh please try to submit the PRs by today EOD.

[2018-05-08 07:32] akshaychopra96 commented on #105
I would also like to work on this issue. May I? I will submit the PR today only.

[2018-05-08 07:33] jainakshansh commented on #103
@drulabs, I have already submitted a PR for the UI.
I wouldn't be able to do it for the code because of time constraints since I have my semesters going on. Sorry! I'll still try if it will be possible.

[2018-05-08 11:12] drulabs commented on #105
@akshaychopra96 sure, you can submit PR by today EOD.

[2018-05-08 12:35] Suparna-here commented on #105
Does "Get Notifications" and "Theme" option have to be functional or just show dummy state?

[2018-05-08 14:42] Suparna-here commented on #105
in activity_main.xml settings and about are textViews, not part of menu. So where from I should launch SettingsActivity?

[2018-05-08 16:06] tavishjain opened #123 "No sign of data loading or not"
**Please remove whichever section is not relevant.** (e.g. If you are creating a feature request issue, remove all bug and UI enhancement related details below)

**Is it a? (pick one)**

- [ ] Feature Request

## Bug Report

### Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - Ensure you have tested with the last (d

[2018-05-08 16:10] tavishjain commented on #123
I am working on this

[2018-05-08 16:34] drulabs commented on #123
@tavishjain this is yet to be planned and implemented. Will create tickets for cosmetic changes soon. Closing the issue now.

[2018-05-08 16:34] #123 closed

[2018-05-08 16:37] PratyushaThumiki commented on #17
![quizlogo](https://user-images.githubusercontent.com/36478864/39770251-17c6cc48-530c-11e8-82b7-4f17938a6388.png)
Please give your suggestions. If it's good, I'll submit a PR

[2018-05-08 16:47] arushi26 opened #124 "Overlap of Creator name & Deadline in Quiz list for long text"
**Is it a? (pick one)**
- [x] Bug Report

## Bug Report

### Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.
   - Ensure you have tested with the last (dev) version of the software.  (If not, and if possible, run your test again with the most recent version available.)

### Environment
  * Android studio version : 3.0.1

[2018-05-08 21:25] Suparna-here commented on #105
I need to modify Navigation Drawer menu and Presenter code to add Settings item. Both are knew to me as not covered under course. Please give some more time.

[2018-05-09 03:49] vibhuti16 commented on #17
@PratyushaThumiki ill vote for you

[2018-05-09 12:58] xsahil03x commented on #115
@tavishjain also share a solution which you would like to see 😄

[2018-05-09 13:33] tavishjain commented on #115
@xsahil03x just making the status bar transparent would do it. I didnt do this as making a pr with just one line changed would seem very odd

[2018-05-09 14:08] CoderVishalSehgal commented on #115
@tavishjain Don't worry I'll do it.

[2018-05-09 16:40] jainakshansh commented on #124
@arushi26 Has this issue been solved already?

[2018-05-10 02:13] arushi26 commented on #124
@jainakshansh I raised a PR with code changes #125

[2018-05-10 06:39] Suparna-here commented on #105
Can I submit pull request in repository for issue #105, whose EOD was 8th may. Kindly confirm. I just completed it. I have not yet contributed in collaborative project.

[2018-05-10 14:31] aditisoni8899 commented on #104
Merged @xsahil03x's PR. Closing this Issue.

[2018-05-10 14:31] #104 closed

[2018-05-10 15:11] aditisoni8899 commented on #103
Merged #126 @mdrahil 's PR. Closing this issue.

[2018-05-10 15:11] #103 closed

[2018-05-10 15:14] aditisoni8899 commented on #115
@tavishjain Thank you for raising this issue. Our team had already taken care of this. Now the code is the repository is updated please have a look. Closing this issue as it is done now.

[2018-05-10 15:14] #115 closed

[2018-05-10 19:32] simran312 commented on #17
![image](https://user-images.githubusercontent.com/39170378/39889945-f06c6f3e-54b6-11e8-95af-8a8e65cce334.png)

[2018-05-10 20:04] pushpalroy commented on #17
![youwritersqdogsear](https://user-images.githubusercontent.com/19844292/39891439-3226ea86-54bb-11e8-8c4c-d3127a1975a9.png)

Logo in 512 x 512 px. Material design style. If its accepted, I'm ready to send a PR. Thanks.

[2018-05-11 04:13] Suparna-here commented on #105
I am in process to resolve conflicts. will submit PR with in 3 hours.

[2018-05-11 06:58] vansh1sh commented on #105
Resolved. Closing this issue. Most appropriate PR will be merged soon.

[2018-05-11 06:58] #105 closed

[2018-05-11 07:01] vansh1sh commented on #105
@Suparna-here Please create the PR as soon as possible (Please raise it within an hour, if possible).

[2018-05-11 07:38] reallyinvincible opened #137 "First 2 Screens of App becomes non-functional in Landscape Mode"
**Is it a? (pick one)**

- [x] Bug

## Bug Report

### Environment
  * Android studio version : 3.1.1
  * Operating system : Windows 10
  * Tested on (emulator/device - details) :
1) Lenovo K8 Note (Android 8.0. Oreo)
2) Nexus 5X (API Level 26)

### The Bug:

  * Description:
 The Sign In and User Detail screens become non-functional in Landscape Mode

 * When does this occur?:
When the orientatio

[2018-05-11 07:39] reallyinvincible commented on #137
I would love to work on this issue.
I have already made the required fixes and am ready to submit my PR.
-Sparsh Srivastava

[2018-05-11 10:11] CoderVishalSehgal commented on #17
Closing this issue. Most appropriate Logo will be select soon.

[2018-05-11 10:11] #17 closed

[2018-05-11 14:01] CoderVishalSehgal opened #140 "Avatar Chooser Dialog"
**By 12 May EOD**

Have to make a Dialog Chooser which contains all these avatars available on the below Link, as per the mockup.
And it should open when clicking on the **Change Profile Picture** on the **User Details Screen**.
* Choose app ColorPrimaryDark as the background of the Dialog.

**Avatars**-
https://drive.google.com/open?id=15G8rogdKAjSiVmwascp6aYvu97F4XDHv

**Mockup**-
https://github

[2018-05-11 14:27] xsahil03x commented on #140
I would like to work 😄

[2018-05-11 15:15] CoderVishalSehgal commented on #140
@xsahil03x yes sure, go ahead 👍

[2018-05-11 16:09] SVB-knowmywork commented on #140
I am interested in adding this feature. I will  try to meet the deadline.

[2018-05-11 17:51] jainakshansh commented on #140
I'd like to work on this feature.

[2018-05-11 18:01] sagarsrao commented on #140
Awesome guys please go ahead.

[2018-05-11 21:09] aditisoni8899 opened #144 "Home Screen Filter Handler"
**Complete By 12th May 2018 08:00 PM**

When HomeScreen filter is selected show appropriate message if there are no items to display.

1. `No bookmarked Quiz`.- Bookmark filter
2. `All Quizzes Attempted` - Unattempted filter
3. `No Attempts yet` - Attempted filter

**Note** - Please figure out where to make changes without breaking the current design.

**Reference design**-
* Bookmarks Filter-
htt

[2018-05-12 03:41] CoderVishalSehgal commented on #140
@xsahil03x @krishna7860 @SVB-knowmywork @jainakshansh Guys I'm so sorry for the interruption, but please hold on for some time, I'll have to make big changes in this issue.

[2018-05-12 04:47] PratyushaThumiki commented on #144
Shall I work on this?

[2018-05-12 04:48] CoderVishalSehgal commented on #144
@PratyushaThumiki yes go ahead 👍

[2018-05-12 10:15] intkhabahmed commented on #144
@CoderVishalSehgal I am working on it

[2018-05-12 10:16] aditisoni8899 commented on #144
@intkhabahmed Sure go ahead.

[2018-05-12 10:16] CoderVishalSehgal commented on #144
@intkhabahmed yes sure go ahead!! 👍

[2018-05-12 10:33] intkhabahmed commented on #144
@CoderVishalSehgal do you have the icons used in mockup or should I download again

[2018-05-12 10:43] CoderVishalSehgal commented on #144
@intkhabahmed I've attached the assets link in the issue and you can also use your icons and make better.

[2018-05-12 12:32] YuganshT79 commented on #140
I would also like to work on this, @CoderVishalSehgal Please do update when we should start working after you have made the changes 👍

[2018-05-12 12:56] nishank95 commented on #140
Yeah i would also like to work on this issue and please update us when to start working on it

[2018-05-12 13:11] animeshroydev commented on #140
@CoderVishalSehgal I would like to work on it...

[2018-05-13 02:28] drulabs commented on #124
This issue is resolved, Please reopen this issue if you notice it again.

[2018-05-13 02:28] #124 closed

[2018-05-14 15:06] sayaMahi commented on #140
I shall work on this.

[2018-05-18 13:38] drulabs commented on #144
Merged @intkhabahmed's PR for this. Closing the issue.

[2018-05-18 13:38] #144 closed

[2018-05-29 02:15] hilalsaim opened #169 "Can you export data in Json format?"
**Please remove whichever section is not relevant.** (e.g. If you are creating a feature request issue, remove all bug and UI enhancement related details below)

**Is it a? (pick one)**

- [ ] Bug

- [x] Feature Request

- [ ] UI Enhancement Request

## Bug Report

### Are you ready to report?
   - Your issue may already be reported! Please search on the [issue track](../) before creating one.

[2018-05-29 06:21] drulabs commented on #169
This issue is empty, no data or details, closing the issue.

[2018-05-29 06:21] #169 closed, assigned to nobody

[2018-05-29 06:22] drulabs commented on #78
schema added

[2018-05-30 01:20] hilalsaim commented on #169
Can you export the data in json format to export to Firebase?

[2018-05-30 01:21] hilalsaim commented on #169
I want to connect with my own firebase

[2018-06-23 18:01] hilalsaim opened #170 "I'm not logged in with the google API."
Hi, I'm not logged in with the google API. I created the JKS file. I took the Sha1 code. I am trying to connect to my own FireBase, but not logging in

[2018-06-24 21:10] hilalsaim commented on #170
I get an error like below;

D/WindowClient: Remove from mViews: DecorView@b828631[SignInHubActivity], this = android.view.WindowManagerGlobal@5bc4e7d
W/ViewRootImpl[SignInActivity]: Dropping event due to no window focus: KeyEvent { action=ACTION_DOWN, keyCode=831, scanCode=470, metaState=META_FUNCTION_ON, flags=0x8, repeatCount=0, eventTime=237438048, downTime=237438048, deviceId=7, source=0x101 }

[2018-06-24 21:59] hilalsaim commented on #170
I solved the problem. I have not added WEB_CLIENT_ID

[2018-09-09 10:33] kesari-vamshi commented on #123
I had same problem

[2018-09-19 03:42] kesari-vamshi commented on #48
can you please give the node of resources  of firebase sample model

[2018-09-26 14:46] kesari-vamshi opened #171 "Create Quiz"
**Please remove whichever section is not relevant.** (e.g. If you are creating a feature request issue, remove all bug and UI enhancement related details below)

**Is it a? (pick one)**

- [ ] Bug

- [x] Feature Request

- [ ] UI Enhancement Request

## Feature Request

Create Quiz not working i checked there is no Code for  it if any one provide it will be better for me
and one more thing one qui

[2018-09-27 03:11] kesari-vamshi commented on #171
@CoderVishalSehgal  please help me